{% extends 'base.html.twig' %}

{% block body %}
    <h1>A propos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam, aperiam eius, expedita illo illum nemo nesciunt nulla quisquam, quo rerum sit? Animi cupiditate dolore doloremque earum enim id modi obcaecati quibusdam unde veniam. Amet atque deserunt dolor eveniet explicabo fugiat iste itaque minima molestiae neque, obcaecati quaerat quo recusandae repudiandae voluptatibus! Aliquam architecto autem consequatur dicta eos eveniet laboriosam laborum laudantium neque pariatur, quia quo quod ratione reiciendis sequi tenetur veniam. Ipsa, iure, nulla! Adipisci consequuntur dignissimos dolore earum, eius ex exercitationem, illo ipsum nemo numquam perferendis qui repellendus suscipit! Adipisci deserunt expedita fuga harum ipsa officia optio perspiciatis repellendus. Ab autem beatae consequuntur dolores ducimus exercitationem fuga ipsum magni molestias neque nulla numquam odio perspiciatis quasi quidem reiciendis repellendus temporibus velit voluptas, voluptates. Amet animi dignissimos, eveniet explicabo ipsa iste itaque iure, non placeat praesentium quos ratione recusandae tenetur, ut vel. Aliquid, earum fugit itaque minus nihil quam.</p>
{% endblock %}
