{% extends 'base.html.twig' %}

{% block title %}Liste des souhaits{% endblock %}

{% block body %}
    <h1>Liste des souhaits</h1>
    <ul>
    {% for wish in wishes %}
        <li><a href="{{ path('wish_detail', {id: wish.id}) }}">{{ wish.title }} [{{ wish.category.name }}]</a></li>
    {% endfor %}
    </ul>
{% endblock %}
