<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="icon" href="{{ asset('images/favicon.png') }}">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'shared/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'shared/footer.html.twig' %}
    </body>
</html>
