<header>
    <div>
        <img
            class="header-logo"
            src="{{ asset('images/logo.svg') }}"
            alt="Logo de Bucket-List"
        >
        <p>Bucket List</p>
    </div>
    <nav>
        <ul>
            <a href="{{ path("app_main") }}"><li>Home</li></a>
        </ul>
    </nav>
</header>
